@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300);

@font-stack: Raleway, Helvetica, sans-serif;
@primary-color: #33333;
//@secondary-color: RGB(232, 247, 238); // ottanman
@secondary-color: RGB(147, 255, 225);

body {
  font: 100% @font-stack;
  background-color: #eee;
  color: @primary-color;
}

em.subtext{
 font-size: 1.5em;
}

.jumbotron{
  background:linear-gradient(145deg, lighten(@secondary-color,10%), #eee);
}