@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300);

@font-stack: Raleway, Helvetica, sans-serif;
@primary-color: #333;

body {
  font: 100% @font-stack;
  color: @primary-color;
}
